[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=default

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    st = status -s
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort=authordate --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    g = grep -n

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
    f = "!git add . && git commit --fixup HEAD && git rebase -i --autosquash HEAD~2"
    nb = "!f() {\
        	git checkout -b $1;\
        	git push origin $1;\
        	git branch --set-upstream-to=origin/$1 $1; \
        }; f"
    rv = rebase --exec \"git difftool --dir-diff HEAD^\" origin/master
    verify = rebase --exec \"make verify\" origin/master
    make = rebase --exec \"make\" origin/master
    update = "!f() {\
    	git branch -D $1;\
    	git checkout -b $1 --track $2/$1;\
    	}; f"
    reference = git show -s --format=reference
[user]
	name = John Cai
	email = jcai@gitlab.com

[core]
	editor = /usr/bin/vim
	sparsecheckoutcone = true
[commit]
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[uploadpack]
	allowFilter = true
